
<div class="top-menu">
  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<!-- <div class="demo">
  <div>Start Date: {{startDate | date: 'MMM/dd/yyyy' }}</div>
  <div> {{title | titlecase }}</div>
  <div> {{price | number: '3.3-5' }}</div>
  <div> {{price | currency }}</div>
  <div> {{price | currency: 'EUR' }}</div>
  <div> {{price | currency: 'RD$' }}</div>
  <div> Percentage: {{rate | percent }}</div>

</div> -->

<!-- <div *ngFor="let pair of course | keyvalue">
    {{pair.key + ':' + pair.value}}
</div> -->

<div>
  <button (click)="onCourseEdited()">Edit Courses</button>
</div>

  <div class="courses" *ngIf="courses[0] as course ">

  <app-course-card 
        (courseSelected)="onCourseSelected($event)"
        [course]="course">

        <div class="course-image" #courseImage>

          <img width="300" alt="Angular logo" 
          [src]="course.iconUrl">

          <h5>Total Lessons: 5</h5>
        </div>

        <div class="course-description">
          {{course.longDescription}}
        </div>

        Edit Description: <textarea></textarea>
  </app-course-card>

  <!-- <app-course-card 
        (courseSelected)="onCourseSelected($event)"
        [course]="courses[1]">

        <h5>Total Lessons: 10</h5>
  </app-course-card> -->

</div>      

<!-- <div class="courses" *ngFor="let course of courses"> -->